.todo-wrapper {
  overflow-y: auto;
  max-height: 74vh;

  .todo-grid & {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .todo__list {
      width: 42%;
      flex-direction: column;

      &--title {
        margin: 10px 0;
      }
    }
  }
}

.todo__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-red-bg;
  border-radius: 20px;
  margin-bottom: 16px;
  color: #fff;
  padding: 12px;

  &--title {
    margin: 0 20px;
    font-weight: 700;
    font-size: 24px;
    text-align: left;
    white-space: pre-wrap;
  }

  &--completed {
    opacity: .5;
  }
}

.icon {
  min-width: 24px;
  min-height: 24px;
  cursor: pointer;

  &:hover {
    transform: scale(1.3);
  }
}

.title--completed {
  text-align: center;
}