* {
  margin: 0;
  padding: 0;
}

$bg: #2f4577;

body {
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  background-color: $bg;
  color: #fff;
}
