.todo__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;

  &--btn {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 30px;
    height: 30px;
    padding: 0;

    span {
      width: 45%;
      height: 45%;
      border-radius: 2px;
      background-color: $color-red;
    }
  }

  &--title {
    font-weight: 700;
    font-size: 32px;
  }
}